@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* Selector */
body {
    background-color: #ffffff;
    color: #333;
    font-family: "Roboto", sans-serif;
    margin: 0;
    position: relative;
}

/* Header SECTION */
header {
    background-color: #333333;
    color: white;
    position: sticky;
    top: 0;
}

nav {
    color: green;

}
nav a {
    /* padding: 20px; */
    /* padding: 10px; */
    text-decoration: none;
}

nav a:hover {
    background-color: #000;
    color: red;
    /* font-size: 20px; */
}


/* END Header SECTION */
.logo-main{
    height: 550px;
    width: 100%;
    background-image: url(/assets/images/download.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.logo-text-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding:30px 30px 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    float: left;
    /* CENTRAR EN FORMA HORIZONTAL Y VERTICAL */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

#titulo2 {
    /* Dentro de las llaves van los estilos que voy aplicar a ese elemento */
    /* color: white; */
    margin: 20px 0;
    font-size: 50px;
    border-bottom: 1px solid #808080;
}

.logo-main p{
    /* color: white; */
    margin: 0;
    width:65%;
}


h1.titulo-intermedios {
    font-size: 80px;
    color: beige;
}


a {
    color: black;
}
h3 {
    text-decoration: double underline;
    color: red;
    font-size: 40px;
}
a.nav-link {
    color: rgb(255, 255, 255);
}
/* p {
    color: dodgerblue;
} */
.mi-parrafo-personalizado {
    font-size: 24px;
    line-height: 50px;
}

.texto-centrado {
    text-align: center;
}
.texto-resaltado {
    color: coral;
    font-size: 50px;
}
/* No se considera buena práctica definir estilos que ya estan previamentes definidos en otras clases */
.texto-centrado-resaltado {
    color: rgb(105, 33, 7);
    font-size: 50px;
    text-align: center;
}

.alerta {
    color: rgb(255, 72, 0);
    font-size: 50px;
}


/* SECTION CARS */
p.diferentes  {
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: #6aaae6;
}

#section-cars h3  {
    display: none;
}